<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Добавить светильник</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    header {
      background-color: #333;
      color: #fff;
      padding: 20px 0;
      text-align: center;
    }

    .gallery img {
      max-width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
    footer {
      background-color: #333;
      color: #fff;
      padding: 20px 0;
      text-align: center;
      margin-top: 50px;
    }
  </style>
</head>
<body>
<header>
  <div class="container">
    <a href="/admin/home">Каталог светильников</a>
    <nav class="nav justify-content-center">
      <a class="nav-link" href="/admin/addType">Добавить тип светильника</a>
      <a class="nav-link" href="/admin/typeList">Cписок типов светильников</a>
      <a class="nav-link" href="/admin/addLight">Добавить светильник</a>
      <a class="nav-link" href="/admin/lightList">Список  светильников</a>
      <a class="nav-link" href="/admin/show">Посмотреть заявки</a>
      <a class="nav-link" href="/logout">Выйти</a>
    </nav>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center mb-4">Добавить светильник</h2>
      <form action="/admin/addLight" method="post"  enctype="multipart/form-data">
        <div class="form-group">
          <label for="lightName">Название светильника</label>
          <input type="text" class="form-control" id="lightName" name="lightName" placeholder="Введите название светильника">
        </div>
        <div class="form-group">
          <label for="lightPower">Мощность</label>
          <input type="text" class="form-control" id="lightPower" name="lightPower" placeholder="Введите мощность светильника">
        </div>
        <div class="form-group">
          <label for="lightSupplyVoltage">Напряжение</label>
          <input type="text" class="form-control" id="lightSupplyVoltage" name="lightSupplyVoltage" placeholder="Введите напряжение светильника">
        </div>
        <div class="form-group">
          <label for="lightColorTemperature">Цветовая температура</label>
          <input type="text" class="form-control" id="lightColorTemperature" name="lightColorTemperature" placeholder="Введите цветовую температуру светильника">
        </div>
        <div class="form-group">
          <label for="lightDegreeOfProtection">Степень защиты</label>
          <input type="text" class="form-control" id="lightDegreeOfProtection" name="lightDegreeOfProtection" placeholder="Введите степень защиты светильника">
        </div>
        <div class="form-group">
          <label for="lightTemperatureRegime">Температурный режим</label>
          <input type="text" class="form-control" id="lightTemperatureRegime" name="lightTemperatureRegime" placeholder="Введите температурный режим светильника">
        </div>
        <div class="form-group">
          <label for="lightOveralDimenssions">Размеры</label>
          <input type="text" class="form-control" id="lightOveralDimenssions" name="lightOveralDimenssions" placeholder="Введите размеры светильника">
        </div>
        <div class="form-group">
          <label for="lightMass">Масса</label>
          <input type="text" class="form-control" id="lightMass" name="lightMass" placeholder="Введите массу светильника">
        </div>
        <div class="form-group">
          <label for="lightCorpusMaterial">Материал корпуса</label>
          <input type="text" class="form-control" id="lightCorpusMaterial" name="lightCorpusMaterial" placeholder="Введите материал корпуса светильника">
        </div>
        <div class="form-group">
          <label for="lightImage">Изображение</label>
          <input type="file" class="form-control-file" id="lightImage" name="lightImage">
        </div>
        <label for="lightType">Тип светильника</label>
        <select class="form-control" id="lightType" name="lightType">
          <option th:each="type : ${lightTypes}" th:value="${type.id}" th:text="${type.lightTypeName}"></option>
        </select>
        <br><br>
        <button type="submit" class="btn btn-primary btn-block">Добавить</button>
      </form>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <p>Контактная информация:  +375447860021</p>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
