<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Добавить тип светильника</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    header {
      background-color: #333;
      color: #fff;
      padding: 20px 0;
      text-align: center;
    }
  </style>
</head>
<body>
<header>
  <div class="container">
    <h1>Каталог светильников</h1>
    <nav class="nav justify-content-center">
      <a class="nav-link" href="/admin/addType">Добавить тип светильника</a>
      <a class="nav-link" href="/admin/typeList">Cписок типов светильников</a>
      <a class="nav-link" href="/admin/addLight">Добавить светильник</a>
      <a class="nav-link" href="/admin/lightList">Список  светильников</a>
      <a class="nav-link" href="/admin/show">Посмотреть заявки</a>
      <a class="nav-link" href="/logout">Выйти</a>
    </nav>
  </div>
</header>

<div class="container">
  <h2 class="text-center mt-4 mb-4">Добавить тип светильника</h2>
  <form action="/admin/addType" method="post">
    <div class="form-group">
      <label for="lightTypeName">Название типа светильника</label>
      <input type="text" class="form-control" id="lightTypeName" name="lightTypeName" placeholder="Введите название" required>
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
  </form>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
