<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Контакты</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    /* Дополнительные стили */
    header {
      background-color: #333;
      color: #fff;
      padding: 20px 0;
      text-align: center;
    }

    .gallery img {
      max-width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
    footer {
      background-color: #333;
      color: #fff;
      padding: 20px 0;
      text-align: center;
      margin-top: 50px;
    }
  </style>
</head>

<body>

<header>
  <div class="container">
    <a href="/client/home">Каталог светильников</a>
    <nav class="nav justify-content-center">
      <a class="nav-link" href="/client/catalog">Каталог</a>
      <a class="nav-link" href="/client/about">О компании</a>
      <a class="nav-link" href="/client/contacts">Контакты</a>
      <a class="nav-link" href="/logout">Выйти</a>
    </nav>
  </div>
</header>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h2>Наши контакты</h2>
      <p><strong>Телефон:</strong> +375 (44) 346-9510</p>
      <p><strong>Адрес:</strong> г. Минск, Проспект независимости,корпус 2</p>
    </div>
    <div class="col-md-6">
      <h2>Мы на карте</h2>
      <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aec747bfe431c0e1f25a98a2e47d7026ebe698bd83623f26dbb68d8d17133a2c5&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
<footer>
  <div class="container">
    <p>Контактная информация:  +375447860021</p>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
