<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Список светильников</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    header {
      background-color: #333;
      color: #fff;
      padding: 20px 0;
      text-align: center;
    }

    .gallery img {
      max-width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
    footer {
      background-color: #333;
      color: #fff;
      padding: 20px 0;
      text-align: center;
      margin-top: 50px;
    }
  </style>
</head>
<body>
<header>
  <div class="container">
    <a href="/admin/home">Каталог светильников</a>
    <nav class="nav justify-content-center">
      <a class="nav-link" href="/admin/addType">Добавить тип светильника</a>
      <a class="nav-link" href="/admin/typeList">Список типов светильников</a>
      <a class="nav-link" href="/admin/addLight">Добавить светильник</a>
      <a class="nav-link" href="/admin/lightList">Список светильников</a>
      <a class="nav-link" href="/admin/show">Посмотреть заявки</a>
      <a class="nav-link" href="/logout">Выйти</a>
    </nav>
  </div>
</header>

<div class="container">
  <h2 class="text-center mb-4">Список светильников</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Название</th>
      <th scope="col">Мощность</th>
      <th scope="col">Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="light : ${lights}">
      <td th:text="${light.lightName}"></td>
      <td th:text="${light.lightPower}"></td>
      <td>

        <a th:href="@{'/admin/deleteLight/' + ${light.id}}" class="btn btn-danger btn-sm">Удалить</a>
        <a th:href="@{'/admin/editLight/' + ${light.id}}" class="btn btn-primary btn-sm">Обновить</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<footer>
  <div class="container">
    <p>Контактная информация:  +375447860021</p>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
